.cb {
    align-items: center;
    background-color: var(--live);
    border-radius: 50%;
    color: var(--light-gray);
    display: flex;
    font-size: 3.2vw;
    height: 5vw;
    justify-content: center;
    width: 5vw;
    transition: background-color 0.3s ease;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.cb:hover {
    background-color: var(--live-dark);
}