.itemNews {
    background-color: #affec8;
    color: #000000;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.itemNews h1 {
    text-align: center;
}

.summary {
    color: rgb(0, 0, 0);
}